<template>
  <div class="wrapper">
    <div v-if="showModal === true">
      <Modal @close="closeModal" :body="modalBody"/>
    </div>
    <div v-if="showEditCategoryModal === true">
      <EditCategory @close="closeEditModal"  @updated="fetchCategories" :category="editableCategory"/>
    </div>

    <div v-if="showCreateCategoryModal === true">
      <CreateCategory @close="closeCreateModal"  @created="fetchCategories" />
    </div>

    <div v-if="showEditProductModal === true">
      <EditProduct @close="closeEditProductModal" :categories="categories" @updated="fetchProducts" :product="editableProduct"/>
    </div>

    <div v-if="showCreateProductModal === true">
      <CreateProduct @close="closeCreateProductModal" :categories="categories"  @created="fetchProducts" />
    </div>


    <div class="profile__header--welcome">
      ادمین عزیز خوش آمدید
    </div>

    <ProfileTab :items="items" :active-tab="selectedTab" @changeSelectedTab="onChangeSelectedTab"/>

    <div class="create__product__btn" @click=" showCreateProductModal = true" v-if="selectedTab == 0">
      ایجاد محصول جدید +
    </div>
    <div class="products" v-if="selectedTab == 0">
      <div class="items">
        <div class="product" v-for="product in products" :key="product.id">
          <div class="quantity"> {{ product.sold_number }}</div>
          <ProductCard class="product__card" @edited="editProduct" :product="product" :button-text="'ویرایش محصول'"/>
        </div>
      </div>
    </div>
    <Pagination
        class="pagination"
        v-if="selectedTab == 0"
        :pagination = pagination
        @pagechanged="onPageChange"
        @perPageChanged="onPerPageChange"
    />

    <div class="create__product__btn" @click=" showCreateCategoryModal = true" v-if="selectedTab == 1">
      ایجاد دسته بندی جدید +
    </div>
    <div class="categories" v-if="selectedTab == 1" >
      <div class="receipt">
        <table>
          <tr>
            <th style=" width: 40%" class="text-center">نام دسته بندی</th>
            <th style="width: 60%" class="text-center">عملیات</th>
          </tr>
          <tr v-for="category in categories" :key="category.id">
            <td class="text-center">{{ category.name }}</td>
            <td>
              <div class="action__list">
                <div class="action__item" @click="editCategory(category)" >
                    ویرایش دسته بندی
                </div>
                <div class="action__item" @click="deleteCategory(category.id)">
                    حذف دسته بندی
                </div>

              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="form__field" v-if="selectedTab == 2">
      <label>
        جستجوی کد پیگیری
      </label>
      <input type="text" @keyup="search" v-model="searchTrackCode">
    </div>
    <Transactions v-if="selectedTab == 2"
                       :ths=" {
                        'کد پیگیری' : '20%',
                       'کالا' : '20%',
                       'قیمت پرداخت شده' : '20%' ,
                        'نام خریدار' : '10%',
                         'آدرس ارسال شده' : '30%'}"
                       :fields="['id','product_name' ,'price','buyer_full_name','buyer_address']"
                       :rows="transactions"

    />
  </div>

</template>

<script>
import ProfileTab from "@/components/ProfileTab";
import Transactions from "@/components/Transactions";
import Modal from "@/components/Modal";
import axios from "axios"
import ProductCard from "@/components/ProductCard";
import Pagination from "@/components/Pagination";
import EditCategory from "@/components/EditCategory";
import CreateCategory from "@/components/CreateCategory";
import CreateProduct from "@/components/CreateProduct";
import EditProduct from "@/components/EditProduct";

export default {
  name: "Admin",
  components: {
    EditProduct,
    CreateProduct, CreateCategory, EditCategory, Pagination, ProductCard, Transactions, ProfileTab,Modal},
  data() {
    return {
      "items": [
        "لیست کالاها",
        "دسته بندی ها",
        "رسیدها"
      ],
      "selectedTab": 0,
      "products": {},
      "categories": {},
      showModal : "",
      modalBody :"",
      currentPage: 1,
      transactions : {},
      showEditCategoryModal :false,
      showCreateCategoryModal : false,
      showCreateProductModal : false,
      showEditProductModal : false,
      searchTrackCode :"",
      editableCategory : {},
      editableProduct : {},
      pagination : {},
      perPage : 3,
    }
  },
  watch :{
    urlWithPage: function (url){
      axios.get(url)
          .then(res => {
            this.products = res.data.data
            this.pagination = {
              from : 1,
              lastPage : res.data.last_page,
              total :res.data.total,
              currentPage : res.data.current_page
            }
          })
          .catch(err => console.log(err))
    }
  },
  computed :{
    urlWithPage :  function (){
      return  this.$backApiUrl + '/products' + `?page=${this.currentPage}` + `&perPage=${this.perPage}`
    },
    transactionSearch : function (){
      if (this.searchTrackCode === "")
        return  `${this.$backApiUrl}/transactions`

      return `${this.$backApiUrl}/transactions/search?s=${this.searchTrackCode}`
    }
  },
  created() {
    this.fetchProducts()
    this.fetchCategories()

    axios.get(`${this.$backApiUrl}/transactions`).then(
        res => this.transactions = res.data
    )
  },
  methods: {
    fetchCategories:  function (){
      axios.get(`${this.$backApiUrl}/categories`)
          .then(res => this.categories = res.data)
          .catch(err => console.log(err))
    },
    fetchProducts : function (){
      axios.get(`${this.urlWithPage}`)
          .then(res => {
            this.products = res.data.data
            this.pagination = {
              from : 1,
              lastPage : res.data.last_page,
              total :res.data.total,
              currentPage : res.data.current_page
            }
          })
          .catch(err => console.log(err))
    },
    onChangeSelectedTab: function (index) {
      this.selectedTab = index
    },
    getAdminTransactionUrl: function () {
      let apiUrl = this.$backApiUrl
      return `${apiUrl}/transactions`
    },
    onPageChange(page) {
      this.currentPage = page;
    },
    onPerPageChange(per) {
      this.currentPage = 1
      this.perPage = per;
    },
    deleteCategory : function (id){
      axios.delete(`${this.$backApiUrl}/categories/${id}`)
      .then(
          res => {
            axios.get(`${this.$backApiUrl}/categories/`)
            .then(res => this.categories = res.data)
            this.modalBody = res.data
            this.displayModal()
          }
      )
      .catch()
    },
    displayModal: function () {
      this.showModal = true
    },
    closeModal: function () {
      this.showModal = false;
    },
    search : function (){
      axios.get(this.transactionSearch).then(
          res => this.transactions = res.data
      )
    },
    editCategory : function (category) {
      this.editableCategory = category
      this.showEditCategoryModal = true

    },
    closeEditModal : function (){
      this.showEditCategoryModal = false
    },
    closeCreateModal : function (){
      this.showCreateCategoryModal = false
    },

    editProduct : function (product) {
      this.editableProduct = product
      this.showEditProductModal = true

    },
    closeEditProductModal : function (){
      this.showEditProductModal = false
    },
    closeCreateProductModal : function (){
      this.showCreateProductModal = false
    }
  }
}
</script>

<style scoped>

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e8e9ed;
  overflow: hidden;
  padding-bottom: 30px;
}

.profile__header--welcome {
  font-size: 2em;
  font-weight: 5000;
  color: black;
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center;
}


.product__card{
  position: relative;
  top: 10px;
  left: 10px;
}

.edit__btn {
  background-color: #ffc80a;
  border-radius: 24px;
  text-align: center;
  color: black;
  padding: 6px 20px 6px 20px;
  cursor: pointer;
}

.receipt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin-top: 30px;
  margin-bottom: 50px;
  background-color: white;
}

.receipt table {
  border-collapse: collapse;
  direction: rtl;
  background-color: white;
  width: 98%;
}

.pagination{
  margin-top: 60px;
}

.receipt tr:first-child {

  direction: rtl;
}

.receipt th {
  padding: 20px 20px 20px 20px;
  direction: rtl;
  text-align: center;
  color: #cecdcd;
}

.receipt th.text-center {
  text-align: center;
}

.receipt th:first-child, .receipt td:first-child {
  padding-right: 50px;
}


.receipt td {
  padding: 20px;
}

.receipt td.text-center {
  text-align: center;
}

.receipt tr {
  border-bottom: 1px rgb(226, 223, 223) solid;
  direction: rtl;
}

.receipt tr:last-child {
  border: none;
}

.receipt th:first-child {
  direction: rtl;
}

.action__list {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}

.categories {
  width: 60%
}

.action__item {
  cursor: pointer;
  padding-left: 15px;
}

.action__item:last-child {

}


.action__item:hover {
  color: #279ea6;
}

.products {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.items {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 45px;
  grid-row-gap: 45px;
  margin-right: 15px;
}


.product__card hr {
  width: 80%;
  border: none;
  height: 1px;
  background: rgb(226, 223, 223);
  margin-bottom: 15px;
}

.product__card img {
  width: 50%;
  height: 150px;
}


.quantity {
  position: absolute;
  background: white;
  border-radius: 50%;
  width: 35px;
  text-align: center;
  color: #279ea6;
  font-weight: 1000;
  height: 35px;
  padding: 5px;
  box-shadow: 0 3px 12px 1px rgba(25, 22, 199, 0.4);
  z-index: 1;
}

.create__product__btn {
  background-color: #009cff;
  border-radius: 24px;
  font-size: 0.9em;
  padding: 10px 25px 10px 25px;
  margin-bottom: 20px;
  color: white;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(25, 22, 199, 0.4);
}

.form__field {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 15px;
}

.form__field label {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 50%;

  background-color: #00bdc6;
  padding: 3px 12px 3px 12px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}


.form__field input {
  border: none;
  direction: rtl;
  text-align: right;
  width: 70%;
  font-size: 0.8em;
  padding-left: 70px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

</style>