<template>
  <div class="login__btn">
    <a href="/login">
      ورود / ثبت نام
    </a>
  </div>
</template>

<script>
export default {
name: "AuthButton"
}
</script>

<style scoped>


.login__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 3px solid #e3b823;
  border-radius: 24px;
  padding: 10px 20px 10px 20px;
  margin: 10px 20px 10px 20px;
  cursor: pointer;
  transition: all 0.3s;
}

.login__btn:hover {
  background-color: #e3b823;
  color: white;
}
</style>