<template>
  <div class="categories__box">
    <div class="categories__box__title">
      <p>دسته بندی :</p>
    </div>
    <hr>
    <div class="categories">
      <span v-for="(category,index) in categories" :key="index">
                            {{ category.name }}
                            <input type="checkbox" :value="category.id" @change="$emit('selectCategory' ,selectedCategories)" v-model="selectedCategories">
      </span>
    </div>
  </div>

</template>

<script>
import axios from "axios"

export default {
  name: "Categories",
  data() {
    return {
      categories: {},
      selectedCategories : []
    }

  },
  created() {
    axios.get(`${this.$backApiUrl}/categories`)
        .then(res => this.categories = res.data)
        .catch(err => console.log(err))
  }
}
</script>

<style scoped>

.categories__box {
  background-color: white;
  width: 100%;
  border-radius: 3px;
}

.categories__box hr {
  width: 100%;
  border: none;
  height: 1px;
  background: rgb(226, 223, 223);
  margin-bottom: 15px;
}

.categories__box__title {
  width: 95%;
  text-align: right;
  direction: rtl;
  padding-top: 10px;
}


.categories {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 95%;
  margin-bottom: 20px;
}
</style>