<template>
  <transition name="modal">
    <div class="modal-mask" @click="$emit('close')">
      <div class="modal-wrapper">
        <div class="modal-container" @click.stop="">
          <div class="modal-content">
            <div class="modal-close" @click="$emit('close')"> X</div>
            <div class="modal-body">
              <div class="form__field">
                <label>
                  نام دسته بندی
                </label>
                <input type="text" v-model="name">
              </div>
            </div>
            <a class="modal-default-button" @click="create">
              ایجاد
            </a>
          </div>
        </div>
      </div>
    </div>
  </transition>

</template>

<script>
import axios from "axios"

export default {
  name: "CreateCategory",
  data() {
    return {
      name: ""
    }
  },
  methods: {
    create: function () {
      let name = this.name
      axios.post(`${this.$backApiUrl}/categories/`, {name})
          .then(() => {
                this.$emit('created')
                this.$emit('close')
              }
          )

    }
  }
}
</script>

<style scoped>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-close {
  position: absolute;
  background: #dedede;
  border-radius: 50%;
  color: #ffc80a;
  width: 35px;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  left: 415px;
  top: 0px;
  height: 35px;
  padding: 5px;
  z-index: 1;
  cursor: pointer;
}

.modal-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 450px;
  padding: 40px 15px 20px;
  margin: 0px auto;
  background-color: #dedede;
  border-radius: 24px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.modal-default-button {
  width: 15%;
  padding: 5px 10px;
  border: none;
  border-radius: 24px;
  font-size: 0.9em;
  cursor: pointer;
  background-color: #ffc80a;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


.form__field {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 15px;
}

.form__field label {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 50%;

  background-color: #00bdc6;
  padding: 1px 12px 1px 12px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}


.form__field input {
  border: none;
  direction: rtl;
  text-align: right;
  width: 50%;
  font-size: 0.8em;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}


</style>