<template>
  <div class="dropdown">
    <div class="dropbtn">
        {{name}}
      <div class="arrow down">
      </div>
    </div>
    <div class="dropdown__content">
      <a href="/profile">پروفایل</a>
      <a @click="logout">خروج از حساب</a>
    </div>
  </div>
</template>

<script>
export default {
name: "Dropdown",
  props :{
      name: String
  },
  methods :{
    logout :function (){
      this.$store.dispatch('logout')
          .then(() => {

          })
          .catch(() => {
          });
    }
  }

}
</script>

<style scoped>

.dropdown {
  display: flex;
  flex-direction: column;
  margin: 10px 20px 10px 20px;
  height: 50px;
  width: 116px; /* is there any better way ?*/
}
/* Dropdown Button */

.dropbtn {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  border-radius: 24px;
  padding: 5px 20px 5px 20px;
  border: 3px solid #e3b823;
  transition: all 0.1s;

}
/* The container <div> - needed to position the dropdown content */

/* Dropdown Content (Hidden by Default) */
.dropdown__content {
  position: absolute;
  padding-top: 20px;
  display: none;
  top: 25px;
  background-color: #e5e0e0;
  border-radius: 5px;
  z-index: 1;
}

.dropdown:hover .dropdown__content{
  display: flex;
  flex-direction: column;
}
.dropdown__content a{
  position: relative;
  text-decoration: none;
  border: none;
  padding: 5px 10px 5px 20px;
  text-align: right;
  cursor: pointer;
}

.dropdown__content a:hover{
  background-color: #efefef;
}
.dropdown:hover .dropbtn {
  background-color: #e3b823;
  z-index: 100;
  border: none;
}

.arrow {
  border: solid #7b7676;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
</style>