<template>

  <footer class="footer">
    تمامی حقوق برای متین خسروانی و ممد خاج محفوط است
  </footer>
</template>

<script>
export default {
name: "Footer"
}
</script>

<style scoped>

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #303437;
  color: #9ea1a6;
  padding: 20px 0 20px 0;
}
</style>