<template>
  <div class="form__field">
    <label>
      {{label}}
    </label>
    <input type="text">
  </div>
</template>

<script>
export default {
name: "FormTextInput",
  props :{
    label : String
  }
}
</script>

<style scoped>

.form__field {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 15px;
}

.form__field label {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 50%;

  background-color: #00bdc6;
  padding: 3px 12px 3px 12px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}


.form__field input {
  border: none;
  direction: rtl;
  text-align: right;
  width: 70%;
  font-size: 0.8em;
  padding-left: 70px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
</style>