<template>
  <div class="hero">
    <div class="hero__header">
      <p class="hero__title"> در محصولات سایت جستجو کنید..</p>
      <input type="text" placeholder="نام محصول خود را وارد کنید..." v-model="searchQuery" @keyup.enter="$emit('search',searchQuery)">
      <div class="search__button glow" @click="$emit('search',searchQuery)"> جستجو کنید</div>
      <Slider/>
    </div>
  </div>

</template>

<script>
import Slider from "@/components/Slider";

export default {
  name: "HeroHeader",
  components: {Slider},
  data(){
    return{
      searchQuery : ""
    }
  }
}
</script>

<style scoped>
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9593a;
}

.hero__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.hero__title {
  padding-top: 70px;
}

.hero__header p {
  font-size: 2em;
  color: white;
  direction: rtl;
  margin-bottom: 40px;
  text-align: center;
  width: 100%;
}

.hero__header input[type=text] {
  background-color: white;
  border-radius: 24px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  direction: rtl;
  font-size: 0.75em;
  margin-bottom: 35px;
  width: 80%;
  border: none;
}

.search__button {
  background-color: #ffc80a;
  border-radius: 24px;
  text-align: center;
  color: #525050;
  padding: 6px 30px 6px 30px;
  margin-bottom: 35px;
  cursor: pointer;
}

.hero__header img {
  width: 70%;
}

.glow:hover {
  color: black;
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}
</style>