<template>
  <div class="wrapper">
    <div v-if="showModal === true">
      <Modal @close="closeModal" :body="modalBody" :redirectUrl="redirectUrl"/>
    </div>
    <div class="login">
      <p class="login__title">فروشگاه-ورود</p>
      <a class="register-link" href="/signup"> (ثبت نام) </a>
      <div class="login__fields">
        <div class="form-group">

          <div class="form__field">
            <label> ایمیل</label>
            <input type="email" name="e-mail" v-model="v$.email.$model" placeholder="ایمیل خود را وارد نمایید..."
                   :class="v$.email.$errors.length !== 0 ? 'error' : 'valid'">
          </div>
          <div>
            <span v-for="(error,index) in v$.email.$errors" :key="index" class="error-msg">
            {{ error.$message }}
            </span>
          </div>
        </div>
        <div class="form-group">
          <div class="form__field">
            <label>رمزعبور</label>
            <input type="password" name="password" v-model="v$.password.$model"
                   placeholder="رمز عبور خود را وارد نمایید..."
                   :class="v$.password.$errors.length !== 0 ? 'error' : 'valid'">
          </div>
          <div>
            <span v-for="(error,index) in v$.password.$errors" :key="index" class="error-msg">
            {{ error.$message }}
            </span>
          </div>
        </div>
      </div>
      <div class="lg__btn" @click="login">
        ورود
      </div>
    </div>
  </div>
</template>

<script>
import useVuelidate from '@vuelidate/core'
import {required, email, minLength, maxLength} from '@vuelidate/validators'
import Modal from "@/components/Modal";

export default {
  name: "Login",
  components: {Modal},
  setup() {
    return {
      v$: useVuelidate()
    }
  },
  data: () => {
    return {
      email: "",
      password: "",
      showModal: false,
      success: false,
      modalBody: "",
      redirectUrl : "",
    }
  },

  methods: {
    displayModal: function () {
      if (this.success) {
        this.modalBody = "با موفقیت انجام شد "
      } else {
        this.modalBody = "با شکست همراه بود "
      }
      this.showModal = true
    },
    closeModal: function () {
      this.showModal = false;
    },
    login: function () {
      let email = this.email;
      let password = this.password;
      this.$store.dispatch('login', {email, password}, `${this.$backApiUrl}/login`)
          .then(() => {
            this.success = true
            this.redirectUrl = this.$router.currentRoute.value.query.from ?? "/"
            // this.$router.push(this.$router.currentRoute.value.query.from ?? "/")
            this.displayModal()

          })
          .catch(() => {
            this.success = false
            this.redirectUrl = ""
            this.displayModal()
          });
    }
  },

  validations: () => {
    const mustIncludeCharAndNumber = (value) => {
      if (value.search(/[a-zA-Z]/) === -1) {
        return false
      }
      return true
    }
    return {
      email: {
        required,
        max: maxLength(255),
        email
      },
      password: {
        required,
        max: maxLength(255),
        min: minLength(8),
        mustIncludeCharAndNumber
      }
    }
  }
}
</script>

<style scoped>

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e8e9ed;
  min-height: 90vh;
  overflow: hidden;
}

.error:focus {
  outline: 2px solid darkred;
}

.valid:focus {
  outline: 2px solid darkgreen;
}
.error-msg {
  color: darkred;
  font-size: 0.8em;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__title {
  color: #279ea6;
  margin-bottom: 5px;
  font-size: 1.2em;
}

.register-link{
  margin-bottom: 20px;
  font-size: 0.75em;
}

.login__fields {
  margin-bottom: 15px;
}

.form__field {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 15px;
}

.form__field label {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 30%;

  background-color: #00bdc6;
  padding: 3px 12px 3px 12px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}


.form__field input {
  border: none;
  direction: rtl;
  text-align: right;
  width: 215px;
  font-size: 0.8em;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}


.form__field textarea {
  border: none;
  direction: rtl;
  text-align: right;
  resize: none;
  width: 70%;
  font-size: 0.8em;
  padding-left: 100px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}


.lg__btn {
  background-color: #ffc80a;
  border-radius: 24px;
  text-align: center;
  color: black;
  padding: 5px 45px 5px 45px;
  cursor: pointer;
}

</style>