<template>
  <header class="menu">
    <Dropdown v-if="isLoggedIn" :name="getUserName()"/>
    <AuthButton v-else/>
    <MenuItem/>
  </header>

</template>

<script>


import MenuItem from "@/components/MenuItem";
// import AuthButton from "@/components/AuthButton";
import Dropdown from "@/components/Dropdown";
import AuthButton from "@/components/AuthButton";

export default {
  name: "Menu",
  components: {
    AuthButton,
    Dropdown,
    // AuthButton,
    MenuItem
  },
  data() {
    return {
      isLoggedIn : this.$store.getters.isLoggedIn
    }
  },
  methods :{
    getUserName : function (){
      return JSON.parse(localStorage.getItem("user")).first_name;
    }
  },
  computed: {
    isLoggedIn2: function () {
      return this.$store.getters.isLoggedIn
    }
  },
}
</script>

<style scoped>

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 65px;
}


</style>