<template>
  <div class="menu__items">
    <ul>
      <li><a href="/" id="logo">فروشگاه</a></li>
      <li v-for="(item ,index) in items" :key="index"><a :href="item.href">{{item.name}} </a></li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'MenuItem',
  data() {
    return {
      "items": [
        {"name": 'صفحه اول', "href": "/"},
        {"name": 'تماس با ما', "href": "#"},
        {"name": 'پشتیبانی', "href": "#"},
        {"name": 'محصولات', "href": "/#items"}
      ]
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.menu__items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
}

.menu__items ul {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  list-style: none;
}


.menu__items a:hover {
  color: #279ea6;
}

.menu__items li {
  list-style: none;
  margin: 0 25px 0 25px;

}


#logo {
  font-size: 1.2em;
  color: #279ea6;
}
</style>
