<template>
  <transition name="modal">
    <div class="modal-mask" @click="$emit('close')">
      <div class="modal-wrapper">
        <div class="modal-container" @click.stop="">
          <div class="modal-content">
            <div class="modal-close" @click="$emit('close')"> X</div>

            <div class="modal-body">
              <slot name="body">
                {{ body }}
              </slot>
            </div>
            <a v-if="redirectUrl !== undefined" class="modal-default-button" :href="redirectUrl">
              خب
            </a>
            <a v-else class="modal-default-button" @click="$emit('close')">
              خب
            </a>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: "Modal",
  props: {
    body: String,
    redirectUrl: String
  },
  data: () => {
  },
  methods: {
    redirect: function () {
      if (this.redirectUrl === "")
        this.$emit('close')
      else
        this.$router.push(this.redirectUrl)
    }
  }
}
</script>

<style scoped>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-content {
  width: 100%;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-close {
  position: absolute;
  background: white;
  border-radius: 50%;
  color: #ffc80a;
  width: 35px;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  left: 315px;
  height: 35px;
  padding: 5px;
  z-index: 1;
  cursor: pointer;
}

.modal-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 350px;
  padding-bottom: 20px;
  margin: 0px auto;
  background-color: #fff;
  border-radius: 24px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  width: 15%;
  padding: 5px 10px;
  border: none;
  border-radius: 24px;
  font-size: 0.9em;
  cursor: pointer;
  background-color: #ffc80a;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

</style>