<template>
  <div class="options">
    <Categories @selectCategory="onSelectCategory"/>
    <PriceFilterBox/>
  </div>
</template>

<script>
import Categories from "@/components/Categories";
import PriceFilterBox from "@/components/PriceFilterBox";
export default {
name: "OptionsBox",
  components: {PriceFilterBox, Categories},
  methods :{
    onSelectCategory :function (categories){
      this.$emit('selectCategory',categories)
    }
  }
}
</script>

<style scoped>
.options{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 25%;
}
</style>