<template>

  <ul class="pagination">
    <li class="pagination-item">
      <button
          type="button"
          @click="onClickFirstPage"
          :disabled="isInFirstPage"
          aria-label="Go to first page">
        اول
      </button>
    </li>

    <li class="pagination-item">
      <button
          type="button"
          @click="onClickPreviousPage"
          :disabled="isInFirstPage"
          >
       قبل
      </button>
    </li>

    <li v-for="(page,index) in pages" class="pagination-item" :key="index">
      <button
          type="button"
          @click="onClickPage(page.name)"
          :disabled="page.isDisabled"
          :class="{ active: isPageActive(page.name) }"
      >
        {{ page.name }}
      </button>
    </li>

    <li class="pagination-item">
      <button
          type="button"
          @click="onClickNextPage"
          :disabled="isInLastPage"
      >
        بعد
      </button>
    </li>
    <li class="pagination-item">
      <button
          type="button"
          @click="onClickLastPage"
          :disabled="isInLastPage"
      >
        آخر
      </button>
    </li>
    <li class="pagination-item">
      <select
          @change="onClickPerPage"
      >
       <option value="3">3</option>
       <option value="6">6</option>
       <option value="9">9</option>
       <option value="15">15</option>
      </select>
    </li>
  </ul>
</template>

<script>
export default {
  name: 'Pagination',
  props: {
    pagination : Object,
    maxVisibleButtons: {
      type: Number,
      required: false,
      default: 3
    },
    total: {
      type: Number,
      required: false
    },
    perPage: {
      type: Number,
      required: false
    },
    currentPage: {
      type: Number,
      required: false
    },
  },
  computed: {
    startPage() {
        return this.pagination.from

    },
    endPage() {

      return this.pagination.lastPage
    },
    pages() {
      const range = [];

      for (let i = this.startPage; i <= this.endPage; i+= 1 ) {
        range.push({
          name: i,
          isDisabled: i === this.pagination.currentPage
        });
      }

      return range;
    },
    isInFirstPage() {
      return this.pagination.currentPage === 1;
    },
    isInLastPage() {
      return this.pagination.currentPage === this.totalPages;
    },
    totalPages(){
      return this.pagination.lastPage
    }
  },
  methods: {
    onClickFirstPage() {
      this.$emit('pagechanged', 1);
    },
    onClickPreviousPage() {
      this.$emit('pagechanged', this.pagination.currentPage - 1);
    },
    onClickPage(page) {
      this.$emit('pagechanged', page);
    },
    onClickNextPage() {
      this.$emit('pagechanged', this.pagination.currentPage + 1);
    },
    onClickLastPage() {
      this.$emit('pagechanged', this.totalPages);
    },
    onClickPerPage(e) {
      this.$emit('perPageChanged' , e.target.value)
    },
    isPageActive(page) {
      return this.pagination.currentPage === page;
    },
  }
}
</script>

<style scoped>
.pagination {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pagination-item {
  display: inline-block;
  margin-right: 1px;
}

.pagination-item button:disabled{
  cursor: not-allowed;
  color: #7b7676;
}

.pagination button {
  display: inline-block;
  border: 1px solid #009cff;
  border-radius: 7px;
  padding: 1px 6px;
  color: #009cff;
  font-weight: 500;
  margin-right: 1px;
  cursor: pointer;
  font-size: 0.9em;
}
.pagination button:hover {
    background-color: #e3b823 ;
  color: #ffffff;

}
.active {
  color: white !important;;
  background-color: #009cff;
}


</style>