<template>
  <div class="price__filter">
    <div class="price__filter__box">
      <div class="price__filter__title">
        <p>تنظیم قیمت کالا :</p>
      </div>
      <hr>
      <div class="slider">

      </div>
    </div>
  </div>

</template>

<script>
export default {
name: "PriceFilterBox"
}
</script>

<style scoped>

.price__filter{
  margin-top: 15px;
  background-color: white;
  width: 100%;
  border-radius: 3px;
}

.price__filter hr{
  width: 100%;
  border: none;
  height: 1px;
  background: rgb(226, 223, 223);
  margin-bottom: 15px;
}

.price__filter__title{
  width: 95%;
  text-align: right;
  direction: rtl;
  padding-top: 10px;
}
</style>