<template>
  <div v-if="showBuyProductModal === true">
    <BuyModal @close="closeEditProductModal" :product="buyProduct"/>
  </div>
  <div class="items-box">
    <div class="items">
      <ProductCard v-for="(product,index) in  products" :key="index" :product="product" @edited="buy" :button-text="'خرید محصول'"/>
    </div>
    <Pagination
        :pagination = pagination
        @pagechanged="onPageChange"
        @perPageChanged="onPerPageChange"
    />

  </div>
</template>

<script>
import ProductCard from "@/components/ProductCard";
import Pagination from "@/components/Pagination";
import axios from "axios"
import BuyModal from "@/components/BuyModal";

export default {
  name: "Products",
  components: {BuyModal, Pagination, ProductCard},
  data: function () {
    return {
      currentPage: 1,
      pagination : {},
      perPage : 3,
      products: {},
      buyProduct : {},
      showBuyProductModal :false
    }
  },
  props: {
    url: String
  },
  watch: {
    url : function (url){
      axios.get(url)
          .then(res => this.products = res.data.data)
          .catch(err => console.log(err))
    },
    urlWithPage: function (url){
      axios.get(url)
          .then(res => {
            this.products = res.data.data
            this.pagination = {
              from : 1,
              lastPage : res.data.last_page,
              total :res.data.total,
              currentPage : res.data.current_page
            }
          })
          .catch(err => console.log(err))
    }
  },

  created() {
    axios.get(`${this.$backApiUrl}/products`)
        .then(res => {
          this.products = res.data.data
          this.pagination = {
            from : 1,
            lastPage : res.data.last_page,
            total :res.data.total,
            currentPage : res.data.current_page
          }

        })
        .catch(err => console.log(err))
  }
  ,
  computed: {
    urlWithPage :  function (){
      return  this.url + `&page=${this.currentPage}` + `&perPage=${this.perPage}`
    }
  },
  methods: {
    onPageChange(page) {
      this.currentPage = page;
    },
    onPerPageChange(per) {
      this.currentPage = 1
      this.perPage = per;
    },
    buy : function (product){
      this.buyProduct = product
      this.showBuyProductModal = true
    },
    closeEditProductModal : function (){
      this.showBuyProductModal = false
    },
  },
}
</script>

<style scoped>

.items-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;

}

.items {
  width: 98.3%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
}
</style>