<template>
  <div class="product__card">
    <img :src="product.image_path">
    <div class="product__info">
      <div class="product__title">
        {{product.name}}
      </div>
      <div class="product__category">
        {{product.category.name}}
      </div>
    </div>
    <hr>
    <div class="product__buy">
      <div class="product__price">
        {{product.price}} تومان
      </div>
      <div class="buy__btn" @click="$emit('edited', product)">
        {{buttonText}}
      </div>
    </div>
  </div>
</template>

<script>
export default {
name: "ProductCard",
  props :{
    product : {},
    buttonText : String,
    buttonLink : String
  }
}
</script>

<style scoped>

.product__card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background-color: white;
}
.product__card hr{
  width: 80%;
  border: none;
  height: 1px;
  background: rgb(226, 223, 223);
  margin-bottom: 15px;
}

.product__card img{
  margin-top :10px ;
  width: 50%;
  height: 150px;
}


.product__info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 80%;
  margin-bottom: 35px;
}
.product__title{
  color: black;
}

.product__category{
  font-size: 0.88em;
}

.product__buy{
  width: 85%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

}

.product__price{
  direction: rtl;
  color: black;
  font-size: 0.85em;
}

.buy__btn{
  background-color: #009cff ;
  border-radius: 24px;
  font-size: 0.9em;
  padding: 3px 12px 3px 12px;
  color: white;
  cursor: pointer;

  box-shadow: 0 5px 15px rgba(25, 22, 199, 0.4);
}

</style>