<template>
  <div class="wrapper">
    <div v-if="showModal === true">
      <Modal @close="closeModal" :body="modalBody"/>
    </div>
    <ProfileTab class="tab" :items="tabs" :activeTab="selectedTab" @changeSelectedTab="onChangeSelectedTab"/>

    <div class="profile" v-if="selectedTab === 0">
      <div class="profile__header">
        <div class="profile__header--welcome">
          {{ user.first_name }} عزیز, خوش آمدید
        </div>
        <div class="profile__header--balance">
          موجودی حساب شما :{{ user.balance }}
        </div>

        <div class="profile__header--deposit" @click="deposit">
          افزایش موجودی
        </div>
      </div>
      <div class="profile__fields">
        <div class="form-group">
          <div class="form__field">
            <label> نام خانوادگی</label>
            <input type="email" name="e-mail" :placeholder="user.last_name" v-model="v$.lastName.$model"
                   :class="v$.lastName.$errors.length !== 0 ? 'error' : 'valid'"
            >
          </div>
          <div>
            <span v-for="(error,index) in v$.lastName.$errors" :key="index" class="error-msg">
            {{ error.$message }}
            </span>
          </div>
        </div>
        <div class="form-group">

          <div class="form__field">
            <label> نام</label>
            <input type="text" name="name" :placeholder="user.first_name" v-model="v$.firstName.$model"
                   :class="v$.firstName.$errors.length !== 0 ? 'error' : 'valid'"
            >
          </div>
          <div>
            <span v-for="(error,index) in v$.firstName.$errors" :key="index" class="error-msg">
            {{ error.$message }}
            </span>
          </div>
        </div>
        <div class="double form-group">
          <div class=" form__field">

            <label> رمز عبور</label>
            <input type="password" name="password" placeholder="رمز عبور خود را وارد نمایید..."
                   v-model="v$.password.$model"
                   :class="v$.password.$errors.length !== 0 ? 'error' : 'valid'"

            >
          </div>
          <div>
            <span v-for="(error,index) in v$.password.$errors" :key="index" class="error-msg">
            {{ error.$message }}
            </span>
          </div>
        </div>
        <div class="double form-group">
          <div class="double form__field">
            <label>آدرس</label>
            <textarea rows="2" :placeholder="user.address"
                      v-model="v$.address.$model"
                      :class="v$.address.$errors.length !== 0 ? 'error' : 'valid'"

            ></textarea>
          </div>
          <div>
            <span v-for="(error,index) in v$.address.$errors" :key="index" class="error-msg">
            {{ error.$message }}
            </span>
          </div>
        </div>
      </div>

      <div class="edit__btn" @click="update">
        ویرایش اطلاعات
      </div>
    </div>

    <Transactions v-else-if="selectedTab == 1"
                  :ths=" {
                        'کد پیگیری' : '15%',
                       'کالا' : '15%',
                       'قیمت پرداخت شده' : '30%' ,
                         'آدرس ارسال شده' : '40%'}"
                  :fields="['id','product_name' ,'price','buyer_address']"
                  :rows="transactions"
    />
  </div>
</template>

<script>
import ProfileTab from "@/components/ProfileTab";
import Transactions from "@/components/Transactions";
import useVuelidate from '@vuelidate/core'
import {required, minLength, maxLength} from '@vuelidate/validators'
import Modal from "@/components/Modal";
import axios from "axios"

export default {
  name: "Profile",
  components: {Modal, Transactions, ProfileTab},
  setup() {
    return {
      v$: useVuelidate()
    }
  },
  data() {
    return {
      "tabs": [
        "پروفایل",
        "رسیدها",
      ],
      "selectedTab": 0,
      transactions : {},
      password: "",
      address: "",
      firstName: "",
      lastName: "",
      showModal: false,
      modalBody: "",
      success: false,
      user: JSON.parse(localStorage.getItem("user")),
    }
  },
  created() {
    axios.get(`${this.$backApiUrl}/auth/user`).then(
        res => this.user = res.data
    )
    axios.get(`${this.$backApiUrl}/transactions`).then(
        res => this.transactions = res.data
    )
  },
  methods: {
    deposit: function () {
      axios.post(`${this.$backApiUrl}/users/deposit`)
          .then(
              res => {
                this.user =     axios.get(`${this.$backApiUrl}/auth/user`)
                    .then(
                    res => this.user = res.data
                )
                this.modalBody = res.data
                this.displayModal()
              }
          )
          .catch()
    },
    onChangeSelectedTab: function (index) {
      this.selectedTab = index
    },
    displayModal: function () {
      this.showModal = true
    },
    closeModal: function () {
      this.showModal = false;
    },
    update: function () {
      let address = this.address
      let first_name = this.firstName
      let last_name = this.lastName
      let password = this.password

      let data = this.removeFalsy({address, first_name, last_name, password})

      axios.patch(`${this.$backApiUrl}/profile`, data)
          .then(res => {
                axios.get(`${this.$backApiUrl}/user`)
                    .then(res => {
                          localStorage.removeItem("user")
                          localStorage.setItem("user", JSON.stringify(res.data))
                        }
                    )
                this.modalBody = res.data
                this.displayModal()
              }
          ).catch(err => console.log(err))
    },
    removeFalsy: function (obj) {
      let newObj = {};
      Object.keys(obj).forEach((prop) => {
        if (obj[prop]) {
          newObj[prop] = obj[prop];
        }
      });
      return newObj;
    },
  },

  validations: () => {
    const mustIncludeCharAndNumber = (value) => {
      if (value.search(/[a-zA-Z]/) === -1) {
        return false
      }
      return true
    }


    return {
      password: {
        required,
        mustIncludeCharAndNumber,
        min: minLength(8),
        max: maxLength(255)
      },
      address: {
        required,
        max: maxLength(1000)
      },
      firstName: {
        required,
        max: maxLength(255)
      },
      lastName: {
        required,
        max: maxLength(255)
      }
    }
  }

}
</script>

<style scoped>
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e8e9ed;
  min-height: 90vh;
  overflow: hidden;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.tab {
  margin-top: 40px;
}

.profile__title {
  color: #279ea6;
  margin-bottom: 30px;
  font-size: 1.2em;
}

.profile__header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.profile__header--welcome {
  font-size: 2em;
  font-weight: 5000;
  color: black;
  text-align: center;
}

.profile__header--deposit {
  background-color: #ffc80a;
  border-radius: 24px;
  text-align: center;
  color: black;
  font-size: 0.7em;
  padding: 3px 10px 3px 10px;
  display: flex;
  justify-content: center;
  margin-right: 15px;
  align-items: center;
  cursor: pointer;
}


.profile__header--balance {
  display: flex;
  justify-content: center;
  direction: rtl;
  margin-right: 15px;
  align-items: center;
}


.profile__fields {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 15px;
  padding: 10px;
}


.form__field {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 15px;
}

.form__field label {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 37%;

  background-color: #00bdc6;
  padding: 3px 12px 3px 12px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}


.form__field input {
  border: none;
  direction: rtl;
  text-align: right;
  width: 70%;
  font-size: 0.8em;
  padding-left: 70px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}


.form__field textarea {
  border: none;
  direction: rtl;
  text-align: right;
  resize: none;
  width: 70%;
  font-size: 0.8em;
  padding-left: 100px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.edit__btn {
  background-color: #ffc80a;
  border-radius: 24px;
  text-align: center;
  color: black;
  padding: 6px 20px 6px 20px;
  cursor: pointer;
}


.double {
  grid-column-start: 1;
  grid-column-end: 3;
}

.double label {
  width: 15%;
}

.double input, textarea {
  width: 85% !important;
}

.receipt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin-top: 30px;
  background-color: white;
  box-shadow: 0 5px 15px rgba(25, 22, 199, 0.4);
  margin-bottom: 40px;

}

.receipt table {
  border-collapse: collapse;
  direction: rtl;
  background-color: white;
  width: 98%;
}


.receipt tr:first-child {

  direction: rtl;
}

.receipt th {
  padding: 20px 20px 20px 20px;
  direction: rtl;
  text-align: center;
  color: #cecdcd;
}

.receipt th:first-child, .receipt td:first-child {
  padding-right: 50px;
}


.receipt td {
  padding: 20px;

}

.receipt tr {
  border-bottom: 1px rgb(226, 223, 223) solid;
  direction: rtl;
}

.receipt tr:last-child {
  border: none;
}

.receipt th:first-child {
  direction: rtl;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.error-msg {
  color: darkred;
  font-size: 0.8em;
}


.error:focus {
  outline: 2px solid darkred;
}

.valid:focus {
  outline: 2px solid darkgreen;
}


</style>