<template>
  <div class="profile__tab--item " :class="{active : isActive }">
    {{ value }}
  </div>
</template>

<script>
export default {
  name: "ProfileTabItem",
  props: {
    value: String,
    isActive: Boolean
  }
}
</script>

<style scoped>

.profile__tab--item {
  background-color: #e8e9ed;
  text-align: center;
  width: 100px;
  padding: 4px 0;
  cursor: pointer;

}

.profile__tab--item:first-child {
  border-radius: 0 24px 24px 0;
}

.profile__tab--item:last-child {
  border-radius: 24px 0px 0px 24px;
}

.profile__tab--item.active {
  color: black;
  background-color: #dbdbdb;

}

</style>