<template>
  <div class="profile__tab">
        <ProfileTabItem v-for="(item,index) in items" :key="index" :value="item"
                        :isActive="index === activeTab"
                        @click="$emit('changeSelectedTab' , index)"/>
  </div>
</template>

<script>
import ProfileTabItem from "@/components/ProfileTabItem";
export default {
  name: "ProfileTab",
  components: {ProfileTabItem},
  props: {
    items : Array,
    activeTab : Number
  }
}
</script>

<style scoped>
.profile__tab {
  display: flex;
  border-radius: 24px;
  border: 2px solid #DCDCDC ;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
</style>