<template>
  <div class="wrapper">
    <div v-if="showModal === true">
      <Modal @close="closeModal" :body="modalBody" :redirect-url="redirectUrl"/>
    </div>

    <div class="login">
      <p class="login__title">فروشگاه-ثبت نام</p>
      <div class="sign__fields">
        <div class="form-group">
          <div class="form__field">
            <label> نام خانوادگی</label>
            <input name="last_name" placeholder="نام خانوادگی خود را وارد نمایید..."
                   v-model="v$.lastName.$model"
                   :class="v$.lastName.$errors.length !== 0 ? 'error' : 'valid'"
            >
          </div>
          <div>
            <span v-for="(error,index) in v$.lastName.$errors" :key="index" class="error-msg">
            {{ error.$message }}
            </span>
          </div>
        </div>
        <div class="form-group">

          <div class="form__field">
            <label>نام</label>
            <input name="name" placeholder="نام خود را وارد نمایید..."
                   v-model="v$.firstName.$model"
                   :class="v$.firstName.$errors.length !== 0 ? 'error' : 'valid'"

            >
          </div>
          <div>
            <span v-for="(error,index) in v$.firstName.$errors" :key="index" class="error-msg">
            {{ error.$message }}
            </span>
          </div>
        </div>
        <div class="form-group">
          <div class="form__field">
            <label> رمز عبور</label>
            <input type="password" name="password" placeholder="رمزعبور"
                   v-model="v$.password.$model"
                   :class="v$.password.$errors.length !== 0 ? 'error' : 'valid'"
            >
          </div>
          <div>
            <span v-for="(error,index) in v$.password.$errors" :key="index" class="error-msg">
            {{ error.$message }}
            </span>
          </div>
        </div>
        <div class="form-group">
          <div class="form__field">
            <label> ایمیل</label>
            <input type="email" name="e-mail" placeholder="ایمیل خود را وارد نمایید..."
                   v-model="v$.email.$model"
                   :class="v$.email.$errors.length !== 0 ? 'error' : 'valid'"
            >
          </div>
          <div>
            <span v-for="(error,index) in v$.email.$errors" :key="index" class="error-msg">
            {{ error.$message }}
            </span>
          </div>
        </div>

        <div class="double form-group">
          <div class=" form__field">
            <label>آدرس</label>
            <textarea rows="2" placeholder="آدرس خود را وارد نمایید..."
                      v-model="v$.address.$model"
                      :class="v$.address.$errors.length !== 0 ? 'error' : 'valid'"
            ></textarea>
          </div>
          <div>
            <span v-for="(error,index) in v$.address.$errors" :key="index" class="error-msg">
            {{ error.$message }}
            </span>
          </div>
        </div>
      </div>

      <div class="lg__btn" @click="register">
        ثبت نام
      </div>
    </div>
  </div>
</template>

<script>
import useVuelidate from '@vuelidate/core'
import {required, email, minLength, maxLength} from '@vuelidate/validators'
import Modal from "@/components/Modal";

export default {
  name: "Login",
  components: {Modal},
  setup() {
    return {
      v$: useVuelidate()
    }
  }
  ,
  data: () => {
    return {
      email: "",
      password: "",
      address: "",
      firstName: "",
      lastName: "",
      showModal: false,
      modalBody: "",
      success: false,
      redirectUrl : ""
    }
  },

  methods: {
    displayModal: function () {
      if (this.success) {
        this.modalBody = "با موفقیت انجام شد "
      } else {
        this.modalBody = "با شکست همراه بود "
      }
      this.showModal = true
    },
    closeModal: function () {
      this.showModal = false;
    },
    register: function () {
      let email = this.email
      let password = this.password
      let address = this.address
      let first_name = this.firstName
      let last_name = this.lastName

      this.$store.dispatch('register', {
        "email": email,
        "password": password,
        "address": address,
        "first_name": first_name,
        "last_name": last_name
      })
          .then(() => {
            this.success = true
            this.redirectUrl = this.$router.currentRoute.value.query.from ?? "/"
            // this.$router.push(this.$router.currentRoute.value.query.from ?? "/")
            this.displayModal()

          })
          .catch(() => {
            this.success = false
            this.redirectUrl = ""
            this.displayModal()
          });
    }

  },


  validations: () => {
    const mustIncludeCharAndNumber = (value) => {
      if (value.search(/[a-zA-Z]/) === -1) {
        return false
      }
      return true
    }


    return {
      email: {
        required,
        email,
        max: maxLength(255)
      },
      password: {
        required,
        mustIncludeCharAndNumber,
        min: minLength(8),
        max: maxLength(255)
      },
      address: {
        required,
        max: maxLength(1000)
      },
      firstName: {
        required,
        max: maxLength(255)
      },
      lastName: {
        required,
        max: maxLength(255)
      }
    }
  }
}
</script>

<style scoped>


.error:focus {
  outline: 2px solid darkred;
}

.valid:focus {
  outline: 2px solid darkgreen;
}


.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e8e9ed;
  min-height: 90vh;
  overflow: hidden;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__title {
  color: #279ea6;
  margin-bottom: 30px;
  font-size: 1.2em;
}

.form__field {
  display: flex;
  flex-direction: row-reverse;
}

.form__field label {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 30%;

  background-color: #00bdc6;
  padding: 3px 12px 3px 12px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}


.form__field input {
  border: none;
  direction: rtl;
  text-align: right;
  width: 70%;
  font-size: 0.8em;
  padding-left: 70px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}


.form__field textarea {
  border: none;
  direction: rtl;
  text-align: right;
  resize: none;
  width: 70%;
  font-size: 0.8em;
  padding-left: 100px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}


.lg__btn {
  background-color: #ffc80a;
  border-radius: 24px;
  text-align: center;
  color: black;
  padding: 5px 45px 5px 45px;
  cursor: pointer;
}

.sign__fields {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 15px;
  padding: 10px;
}

.double {
  grid-column-start: 1;
  grid-column-end: 3;
}

.double label {
  width: 13.7%;
}

.double input, textarea {
  width: 86.3% !important;
}

.error-msg {
  color: darkred;
  font-size: 0.8em;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
</style>