<template>
  <div class="slider">
    <button class="next" @click="next">&#10095;</button>
    <transition-group name="fade" tag="div">
      <div v-for="i in [currentIndex]" :key="i">
        <img :src="currentImg"/>
      </div>
    </transition-group>
    <button class="prev" @click="prev">&#10094; </button>
  </div>

</template>

<script>
export default {
  name: "Slider",
  data() {
    return {
      images: [
        this.getImgUrl("clock"),
        this.getImgUrl("clock2"),
        this.getImgUrl("clock3"),
      ],
      timer: null,
      currentIndex: 0
    };
  },

  mounted: function () {
    this.startSlide();
  },

  methods: {
    startSlide: function () {
      this.timer = setInterval(this.next, 10000);
    },

    next: function () {
      this.currentIndex += 1;
    },
    prev: function () {
      this.currentIndex -= 1;
    },
    getImgUrl: function (pet) {
      var images = require.context('../assets/', false, /\.png$/)
      return images('./' + pet + ".png")
    }
  },

  computed: {
    currentImg: function () {
      return this.images[Math.abs(this.currentIndex) % this.images.length];
    }
  }
}
</script>

<style scoped>
.slider{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;

}

.slider img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 165px;
  margin: 0px 20px;
}

.slider button{
  background-color: #f9593a;
  border: none;
  color: #ffc80a;
  cursor: pointer;

}

</style>