<template>
  <div class="sort">
    <p>
      مرتب سازی بر اساس :
    </p>
    <div v-for="(filter,index) in filters" class="filter"
         :key="index"
         @click="changeActiveFilter(index)"
         :class="{filter__active : index === activeFilter}"
          >
      {{index}}
    </div>
    <div class="order" @click="toggleOrder">
      <div class="arrow" :class="getArrow()" >
      </div>
    </div>
  </div>
</template>

<script>
export default {
name: "Sort",
  data(){
    return{
      filters : {
        'بیشترین فروش' : "sold_number",
        "قیمت" : "price",
        "تاریخ ایجاد" : "created_at"
      },
      activeFilter : "بیشترین فروش",
      order : "desc"
    }
  },
  methods :{
    changeActiveFilter :function (filter){
      this.activeFilter = filter
      this.$emit('changeSort' , this.filters[filter])
    },
    toggleOrder : function (){
      if (this.order === 'desc')
        this.order = 'asc'
      else
        this.order = 'desc'

      this.$emit('changeOrder',this.order)
    },
    getArrow :function (){
      if (this.order === 'desc')
        return 'up'
      return 'down'
    }
  }
}
</script>

<style scoped>

.sort{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  height: 50px;
  padding: 5px 25px 5px 25px;
}

.sort p {
  direction: rtl;
  margin: 0 0 0 25px;
}
.filter {
  margin-left: 25px;
  cursor: pointer;
}

.filter__active {
  background-color: #009cff ;
  border-radius: 24px;
  color: white;
  padding: 3px 15px 3px 15px;
  box-shadow: 3px 3px 12px #009cff;

}

.order{
  border: 1px solid #009cff ;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  padding: 10px 10px;
  cursor: pointer;

}

.arrow {
  border: solid #009cff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
</style>