<template>
  <div class="table">
    <table>
      <tr>
        <th v-for="(width,title) in ths" :key="title" :style="`width : ${width};`"> {{ title }}</th>
      </tr>
      <tr v-for="(row,index) in rows" :key="index">
        <td v-for="(field,index) in fields" :key="index">{{row[field]}}</td>
      </tr>
    </table>
  </div>

</template>

<script>

export default {
  name: "Transactions",
  props: {
    ths: {},
    fields: [],
    rows : Object
  },
  data() {
  },
  mounted() {
  }
}
</script>

<style scoped>

.table {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin-top: 30px;
  margin-bottom: 50px;
  background-color: white;
}

.table table {
  border-collapse: collapse;
  direction: rtl;
  background-color: white;
  width: 98%;
}


.table tr:first-child {

  direction: rtl;
}

.table th {
  padding: 20px 20px 20px 20px;
  direction: rtl;
  text-align: center;
  color: #cecdcd;
}

.table th.text-center {
  text-align: center;
}

.table th:first-child, .table td:first-child {
  padding-right: 50px;
}


.table td {
  padding: 20px;
}

.table td.text-center {
  text-align: center;
}

.table tr {
  border-bottom: 1px rgb(226, 223, 223) solid;
  direction: rtl;
}

.table tr:last-child {
  border: none;
}

.table th:first-child {
  direction: rtl;
}
</style>