<template>

  <router-view/>
</template>

<style>

@font-face {
  font-family: 'BYekan';
  src: url('http://fontonline.ir/fonts/BYekan.eot?#') format('eot'),
  url('http://fontonline.ir/fonts/BYekan.ttf') format('truetype'),
  url('http://fontonline.ir/fonts/BYekan.woff') format('woff');
}

* {
  font-family: BYekan, 'BYekan', tahoma, serif;
  color: #7b7676;
  font-size: 16px;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

p{
  margin: 0;
}

a {
  text-decoration: none;
}


#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

</style>
<script>
export default {
}
</script>