<template>
  <Menu/>
  <Admin/>
  <Footer/>
</template>
<script>
import Admin from "@/components/Admin";
import Menu from "@/components/Menu";
import Footer from "@/components/Footer";

export default {
  name: "AdminPage",
  components: {Footer, Menu, Admin}
}
</script>

<style scoped>

</style>