<template>
  <Menu/>

  <div class="content">
    <HeroHeader @search="onSearch"/>
    <div class="results">
      <Sort @changeSort="onChangeSort" @changeOrder="onChangeOrder"/>
      <div class="answer" id="items">
        <Products :url="url"/>
        <OptionsBox @selectCategory="onSelectCategory"/>
      </div>
    </div>
  </div>

  <Footer/>
</template>

<script>
// @ is an alias to /src
import Menu from "@/components/Menu";
import Footer from "@/components/Footer";
import HeroHeader from "@/components/HeroHeader";
import Sort from "@/components/Sort";
import Products from "@/components/Products";
import OptionsBox from "@/components/OptionsBox";

export default {
  name: 'Home',
  components: {
    OptionsBox,
    Products,
    Sort,
    HeroHeader,
    Footer,
    Menu,
  },
  data() {
    return {
      sort: "sold_number",
      filters: {},
      search: "",
      order: "desc"
    }
  },
  computed: {
    url: function () {
      if (this.search !== "")
        return `${this.$backApiUrl}/products?filters=${JSON.stringify(this.filters)}&sort=${this.sort}&search=${this.search}&order=${this.order}`

      return `${this.$backApiUrl}/products?filters=${JSON.stringify(this.filters)}&sort=${this.sort}&order=${this.order}`
    }
  },
  methods: {
    onSelectCategory: function (categories) {
      this.filters.categories = categories
    },
    onChangeSort: function (sort) {
      this.sort = sort
    },
    onSearch: function (search) {
      this.search = search
    },
    onChangeOrder: function (order) {
      this.order = order
    }
  }
}
</script>
<style scoped>
.content {

}

.results {
  background-color: #e8e9ed;
  padding: 10px 15px 10px 15px;
}

.answer {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 0px;
}

</style>
