<template>
  <Menu/>
  <Login/>
  <Footer/>
</template>
<script>
import Login from "@/components/Login";
import Menu from "@/components/Menu";
import Footer from "@/components/Footer";

export default {
  name: "LoginPage",
  components: {Footer, Menu, Login}
}
</script>

<style scoped>

</style>