<template>
  <Menu/>
  <Profile/>
  <Footer/>
</template>
<script>
import Menu from "@/components/Menu";
import Footer from "@/components/Footer";
import Profile from "@/components/Profile";

export default {
  name: "ProfilePage",
  components: {Footer, Menu,Profile}
}
</script>

<style scoped>

</style>