<template>
  <Menu/>
  <Signup/>
  <Footer/>
</template>
<script>
import Signup from "@/components/Signup";
import Menu from "@/components/Menu";
import Footer from "@/components/Footer";

export default {
  name: "SignupPage",
  components: {Footer, Menu, Signup}
}
</script>

<style scoped>

</style>